@model UserModel

@{
    Layout = "_LoginLayout";
}

<form method="post" asp-controller="Home" asp-action="Index" name="registration">

    <div class="containerLogin">

        <div class="userType">

            <input type="radio" class="btn-check" name="UserType" value="student" id="studentRadioBtn" autocomplete="off"
                   checked>

            <label class="btn btn-outline-warning" for="studentRadioBtn" id="studentRadio">
                <i class="fas fa-user-graduate"></i>
                <span>Öğrenci Girişi</span>
            </label>

            <input type="radio" class="btn-check" name="UserType" value="academician" id="academicianRadioBtn" autocomplete="off">

            <label class="btn btn-outline-danger" for="academicianRadioBtn" id="academicianRadio">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Akademisyen Girişi</span>
            </label>

        </div>

        <hr>
        <div id="loginForm" class="col-12">

            <span asp-validation-for="UserName" class="text-danger"></span>
            <div class="input-group mb-3">
                <input type="text" class="form-control col-9" name="UserName" id="input-mail" onkeypress="isInputNumber(event)" placeholder="E-Posta Adresi" autocomplete="on">
                <span class="input-group-text noselect col-4">@('@')firat.edu.tr</span>
            </div>

            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="input-group mb-3">
                <input type="password" name="Password" class="form-control" id="input-pass" placeholder="Şifre">
            </div>

            <div class="d-grid col-12">
                <button class="btn btn-outline-warning" id="submit-btn" type="submit">Giriş Yap</button>
            </div>
            <div class="noselect text-warning mt-2" asp-validation-summary="ModelOnly">

            </div>
        </div>
        <hr id="lower-hr">
    </div>
</form>

<script>
    const userRequired = "Lütfen kullanıcı adını giriniz.";
    const userMinLength = "Kullanıcı adı minimum 7 karakterden oluşmalı.";
    const passwordRequired = "Lütfen şifrenizi giriniz.";
    const passwordMinLength = "Şifreniz en az 5 karakterden oluşmalı.";
    const turkishCharset = "ığüşöç-İĞÜŞÖÇ";
</script>