@model AnnotationsAcademicModel

@{
    Layout = "_AdminMainLayout";
}

<div id="back-to-div">
    <a asp-action="Index" class="btn btn-outline-dark m-4">Akademisyen Listesine Geri Dön</a>
</div>

<div id="student-create-area" class="container">
    <div>
        <h3 class="text-center noselect">Akademisyen Ekle</h3>
        <hr style="border: 3px solid #000;">
    </div>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mt-3">
            <label asp-for="Mail" class="control-label">Mail</label>
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Name" class="control-label">Ad</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Surname" class="control-label">Soyad</label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Faculty" class="control-label">Fakülte</label>
            <select asp-for="Faculty" class="form-control">
                @foreach (Faculty faculty in Model.Faculties)
                {
                    <option value="@faculty.Name">@faculty.Name</option>
                }
            </select>
            <span asp-validation-for="Faculty" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Department" class="control-label">Bölüm</label>
            <input asp-for="Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="d-grid form-group mt-3">
            <button class="btn btn-success" type="submit">Kayıt Oluştur</button>
        </div>
    </form>
</div>

<script>
    let active_index = 3
</script>