
@{
    ViewData["Title"] = "Devamsızlık Durumu";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="w-100 p-3 noselect">
    <h2>Devamsızlık Durumu</h2>
    <hr />

    <p>
        <b class="text-danger">Devamsızlık durumu mevcut değildir.</b>
    </p>
    <hr />
</div>