
@{
    ViewData["Title"] = "Staj Bilgileri";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="w-100 p-3 noselect">
    <h2>Staj Bilgileri</h2>
    <hr />

    <p>
        <b class="text-danger">Staj bilgileri mevcut değildir.</b>
    </p>
</div>