<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIS | Giriş Sayfası</title>

    <!-- Bootstrap CDN -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">

    <!-- CSS -->
    <link rel="shortcut icon" href="#">
    <link href="~/css/Admin/admin_nav.css" rel="stylesheet" />
    <link href="~/css/Admin/students.css" rel="stylesheet" />
    <link href="~/css/Admin/student_details.css" rel="stylesheet" />

</head>

<body>

    <nav class="noselect">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <div class="profile">
            <div class="dropdown" style="float:right;">
                <button class="dropbtn"><i class="fa-solid fa-user"></i></button>
                <div class="dropdown-content">
                    <a asp-area="Admin" asp-controller="Main" asp-action="Profile">Profili Düzenle</a>
                    <a asp-area="Admin" asp-controller="Main" asp-action="Logout">Çıkış Yap</a>
                </div>
            </div>
        </div>

        <label class="logo"><a asp-area="Admin" asp-controller="SisSettings" asp-action="Index">SIS | ADMIN</a></label>
        <ul>
            <li><a asp-area="Admin" asp-controller="Main" asp-action="Index"> Ana Sayfa</a></li>
            <li><a asp-area="Admin" asp-controller="Student" asp-action="Index">Öğrenciler</a></li>
            <li><a asp-area="Admin" asp-controller="Academic" asp-action="Index">Akademisyenler</a></li>
            <li><a asp-area="Admin" asp-controller="Lesson" asp-action="Index">Dersler</a></li>
            <li><a asp-area="Admin" asp-controller="Note" asp-action="Index">Notlar</a></li>
        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>

    <!-- JQuery CDN -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <!-- Bootstrap JS CDN -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Javascript -->
    <script src="~/js/Admin/admin_nav.js"></script>
    <script src="~/js/Admin/student_details.js"></script>

</body>

</html>

