<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIS | Giriş Sayfası</title>

    <!-- Bootstrap CDN -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/Login/login.css">
    <link rel="shortcut icon" href="#">

</head>

<body>

    <header>
        <div>
            <h1 class="noselect">Admin Girişi</h1>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <!-- JQuery CDN -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <!-- Bootstrap JS CDN -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Javascript -->
    <script src="~/js/Login/login.js"></script>

</body>

</html>