/* ---------- START ---------- */

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* ---------- Header ---------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background: #21618C;
    padding: 10px;
}

header > div {
    display: flex;
    align-items: center;
}

header > div a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

header h1 {
    margin: 0;
}

.header-text :hover {
    color: #fff;
    text-shadow: 2px 2px 8px #000;
}

header > div img {
    width: 64px;
}

header > a {
    margin: 15px;
    color: #fff;
}

header > a:hover {
    color: #cc0000;
}

/* ---------- Main ---------- */

main {
    display: flex;
    min-height: calc(100vh - 160px);
    align-items: flex-start;
    justify-content: flex-start;
}

nav {
    width: 250px;
    height: calc(100vh - 80px);
    background: #21618C;
    opacity: 0.9;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.content {
    margin: 5px;
    width: calc(100% - 50px);
    height: calc(100vh - 90px);
    overflow: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    /* Otomatik boyutlandırma için yapıldı. */
    right: 0;
}

/* ---------- Footer ---------- */

footer {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #21618C
}

/* ---------- END ---------- */
    